/* You can add global styles to this file, and also import other style files */

body {
    background: #8E0E00;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1F1C18, #8E0E00);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* textos */

.titulo {
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    /* tamaño y fuente del titulo */
}

.text-danger {
    text-align: start;
    margin-left: 7px;
}


/* botones */

.fa-solid {
    /* clase boostrap para los botoncitos editar y eliminar */
    cursor: pointer;
    /* al pasar el mouse se cambia */
    margin-left: 7px;
    /* separa a la izquierda 7 px */
}

.fa-pen-to-square {
    color: rgb(106, 106, 250);
    /* color de editar */
}

.fa-trash {
    color: red;
    /* color de eliminar */
}

.btn {
    margin-left: 7px;
}

h5 {
    text-align: start;
    margin-top: 10px;
}